In [77]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
creditdata = pd.read_csv('crx.data')
creditdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          653 non-null    object
 1   Age             653 non-null    float64
 2   Debt            653 non-null    float64
 3   Married         653 non-null    object
 4   BankCustomer    653 non-null    object
 5   EducationLevel  653 non-null    object
 6   Ethnicity       653 non-null    object
 7   YearsEmployed   653 non-null    float64
 8   PriorDefault    653 non-null    object
 9   Employed        653 non-null    object
 10  CreditScore     653 non-null    int64
 11  DriversLicense  653 non-null    object
 12  Citizen         653 non-null    object
 13  ZipCode         653 non-null    int64
 14  Income          653 non-null    int64
 15  Approved        653 non-null    object
dtypes: float64(3), int64(3), object(10)
memory usage: 81.8+ KB

In [78]:
# Rubah true false menjadi 1 dan 0 (binary)
creditdata['Employed'] = creditdata['Employed'].map({'t': "1", 'f': "0"})
creditdata.head()

  Gender    Age   Debt Married  ... Citizen ZipCode Income  Approved
0      b  30.83  0.000       u  ...       g     202      0         +
1      a  58.67  4.460       u  ...       g      43    560         +
2      a  24.50  0.500       u  ...       g     280    824         +
3      b  27.83  1.540       u  ...       g     100      3         +
4      b  20.17  5.625       u  ...       s     120      0         +

[5 rows x 16 columns]

In [79]:
# Rubah true false menjadi 1 dan 0 (binary)
creditdata['DriversLicense'] = creditdata['DriversLicense'].map({'t': "1", 'f': "0"})
creditdata.head()

  Gender    Age   Debt Married  ... Citizen ZipCode Income  Approved
0      b  30.83  0.000       u  ...       g     202      0         +
1      a  58.67  4.460       u  ...       g      43    560         +
2      a  24.50  0.500       u  ...       g     280    824         +
3      b  27.83  1.540       u  ...       g     100      3         +
4      b  20.17  5.625       u  ...       s     120      0         +

[5 rows x 16 columns]

In [80]:
# Rubah + - menjadi 1 dan 0 (binary)
creditdata['Approved'] = creditdata['Approved'].map({'+': "1", '-': "0"})
creditdata.head()

  Gender    Age   Debt Married  ... Citizen ZipCode Income  Approved
0      b  30.83  0.000       u  ...       g     202      0         1
1      a  58.67  4.460       u  ...       g      43    560         1
2      a  24.50  0.500       u  ...       g     280    824         1
3      b  27.83  1.540       u  ...       g     100      3         1
4      b  20.17  5.625       u  ...       s     120      0         1

[5 rows x 16 columns]

In [81]:
# Split features & target
X = creditdata[['Age','Debt','YearsEmployed','Employed','CreditScore','DriversLicense','Income' ]]
y = creditdata['Approved']

In [82]:
# Split training & test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
X_test

       Age    Debt  YearsEmployed Employed  CreditScore DriversLicense  Income
109  20.67   1.250          1.375        1            3              1     210
274  29.50   0.580          0.290        1            1              0    2803
199  35.42  12.000         14.000        1            8              0    6590
429  20.00   7.000          0.500        0            0              0       0
447  21.92  11.665          0.085        0            0              0       5
..     ...     ...            ...      ...          ...            ...     ...
220  22.50   8.460          2.460        0            0              0       0
420  25.92   0.875          0.375        1            2              1       3
381  31.00   2.085          0.085        0            0              0       0
514  36.33   3.790          1.165        0            0              1       0
383  28.92   0.375          0.290        0            0              0     140

[131 rows x 7 columns]

In [83]:
# membuat model Decision Tree
tree_model = DecisionTreeClassifier() 
# melakukan pelatihan model terhadap data
tree_model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [84]:
pred = tree_model.predict(X_test)
pred

array(['1', '1', '1', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0',
       '0', '0', '1', '1', '0', '1', '0', '1', '0', '0', '0', '1', '0',
       '0', '0', '0', '0', '1', '1', '1', '1', '0', '1', '1', '0', '0',
       '0', '0', '0', '1', '0', '1', '1', '0', '0', '1', '0', '0', '0',
       '1', '1', '0', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1',
       '0', '0', '0', '0', '0', '0', '1', '1', '0', '0', '0', '1', '1',
       '0', '0', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0',
       '0', '0', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '1',
       '1', '1', '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '0',
       '0', '0', '1', '1', '1', '0', '1', '0', '0', '1', '0', '0', '0',
       '1'], dtype=object)

In [85]:
acc = accuracy_score(y_test, pred)
acc

0.7175572519083969

In [89]:
# Melihat logika dari decision tree
from graphviz import Source
from sklearn import tree
graph = Source( tree.export_graphviz(tree_model, out_file=None, feature_names=X.columns))
graph.format = 'png'
graph.render('dtree_render',view=True)

'dtree_render.png'

![teks alternatif](blob:https://colab.research.google.com/b66afd01-4855-43b0-b7ba-c1f04df84609)